body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to left, #c0c0aa , #1ce);
}

.ant-spin-container{
    padding: 20px 0;
}

.todos-title svg, .form-errors svg{
    padding-right: 5px;
}

.todos-container{
    margin: 10px 20%;
    padding: 20px 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    background: #f7f7f7;
}

.submit-button{
    width: 100%;
    margin-top: 20px;
}

.todos-name{
    font-size: 17px;
}

.todos-content, .todos-title{
    font-size: 13px;
    color: #b0b0b0;
}

.update-btn{
    margin-right: 10px;
}

.form-errors{
    color: red;
    margin-top: 5px;
}

.todo-update-datetime{
    font-size: 12px;
    margin-top: 5px;
}